In [4]:
import re

In [7]:
file = open('chat.txt', encoding='utf-8')
file.readline()
newfile = open('cleandata.txt','w', encoding='utf-8')
raw = []
count=0
for index, line in enumerate(file.readlines()):
    x = re.search(r'(.+), (\d+:\d+) (.*) - (.*): (.*)',line)

    if x == None:
        if len(raw) < 0:
            count+=1
            raw[index-count][-1]+= line.strip()
    else:
        raw.append([*x.groups()])
for line in raw:
    newfile.write(','.join(line)+'\n')

file.close()
newfile.close()

In [8]:
import pandas as pd

In [11]:
df= pd.read_csv('cleandata.txt',names=['date','time','am/pm','name','message'])

In [12]:
df

,date,time,am/pm,name,message
0,08/01/21,5:40,pm,Prince Kumar Sir (Sd),<Media omitted>
1,09/01/21,4:36,am,Prince Kumar Sir (Sd),Date:-9/1/2021
2,09/01/21,4:37,am,Prince Kumar Sir (Sd),Room no F8
3,09/01/21,6:44,am,Prince Kumar Sir (Sd),Date:-9/1/2021
4,09/01/21,6:44,am,Prince Kumar Sir (Sd),Room no F8
...,...,...,...,...,...
780,14/06/21,9:54,am,Gaurav (Sd),Dattebayo ðŸ˜‚
781,14/06/21,9:54,am,Manish (Sd),<Media omitted>
782,14/06/21,9:59,am,THE UNCORRECTED,<Media omitted>
783,14/06/21,10:03,am,THE UNCORRECTED,Tarakki ðŸ˜Œ
784,15/06/21,11:44,am,Manish (Sd),https://youtu.be/duUSQGCIbSU